<div class="about-page">
  <h2>About <span>Me</span></h2>
  <div class="about">
    <p>Multilingual professional who completed the Web Development course from Le Wagon.
      As a person who has lived and worked in many different countries, I have always adapted to new surroundings and environments with ease. I'm always eager to learn and seek new challenges, whether in my workplace or outside of work. Through these opportunities, I have become an extremely reliable and organized individual who works well under pressure and can manage multiple tasks simultaneously as well as meet deadlines whilst ensuring quality and efficiency within a team.</p>
  </div>
  <div class="skills">
    <h2>My <span>Skills</span></h2>
    <div class="logos">
      <%= image_tag 'projects/logos/html-5.png', alt: "html logo"%>
      <%= image_tag 'projects/logos/css-3.png', alt: "css logo"%>
      <%= image_tag 'projects/logos/sass.png', alt: "sass logo"%>
      <%= image_tag 'projects/logos/bootstrap.png', alt: "boostrap logo"%>
      <%= image_tag 'projects/logos/js.png', alt: "javascript logo"%>
      <%= image_tag 'projects/logos/react.png', alt: "react logo"%>
      <%= image_tag 'projects/logos/stimulus.png', alt: "stimulus logo"%>
      <%= image_tag 'projects/logos/figma.png', alt: "figma logo"%>
      <%= image_tag 'projects/logos/ruby.png', alt: "ruby logo"%>
      <%= image_tag 'projects/logos/rails-logo.png', alt: "rails logo"%>
      <%= image_tag 'projects/logos/sql-server.png', alt: "sql logo"%>
    </div>
  </div>
</div>
<%# <a href="https://www.flaticon.com/free-icons/ruby" title="ruby icons">Icons created by Freepik - Flaticon</a> %>
