<h1> My <span>Projects</span></h2>
<div class="cards">
  <% data.projects.each do |project| %>
    <div class="card-product">
      <%= image_tag project.image, alt: "project image" %>
      <div class="card-product-infos w-100">
        <div class="languages">
          <% link_to project.url, class: 'external-link' do %>
            <i class="fas fa-external-link-alt"></i>
          <% end %>
          <%= image_tag 'projects/logos/html-5.png', alt: "html logo"%>
          <%= image_tag 'projects/logos/css-3.png', alt: "css logo"%>
          <%= image_tag 'projects/logos/sass.png', alt: "sass logo"%>
          <%= image_tag 'projects/logos/js.png', alt: "javascript logo"%>
          <%= image_tag 'projects/logos/rails-logo.png', alt: "rails logo"%>
        </div>
        <p><%= project.description %></p>
      </div>
    </div>
  <% end %>
</div>
