<div class="container">
  <h1 class="project-title">Haunted <span>Tours</span></h1>
  <div class="project-description">
    <p>Haunted Tours is a project that takes Airbnb as an inspiration and gives it an horror twist. Houses and apartments are replaced with horror tours that can be booked and/or hosted. </p>
  </div>
  <div class= "project-content">
    <div class="step reveal">
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-home.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>U</span>sers can select whether they want a book to be translated from English to Japanese or from Japanese to English. Then upload an epub ebook. </p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>U</span>sers can then check the "My Books" section to check the books they previously uploaded, or decide to upload a new one.</p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-all-tours.gif', alt: "project image" %>
      </div>
    </div>
    <div class="step reveal">
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-lightbox.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>B</span>y choosing one of the uploaded books they have access to their flashcards decks divided per chapter. They can navigate through the chapters, flip each card to check the answer and choose whether they know or don't know the translation.</p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>I</span>n this section users can check all the flashcards sorted by chapter. They sort the cards choosing to display the cards they know, the ones they don't know, or all of them.
          Users can also choose to delete or edit flashcards. </p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-book.gif', alt: "project image" %>
      </div>
    </div>
    <div class="step reveal">
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-my-tours.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>I</span>n this section users can check all the flashcards sorted by chapter. They sort the cards choosing to display the cards they know, the ones they don't know, or all of them.
          Users can also choose to delete or edit flashcards. </p>
      </div>
    </div>
  </div>
</div>
