<div class="container">
  <div class="title-btns">
    <h1 class="project-title">Haunted <span>Tours</span></h1>
    <a href="/index.html" class="home-btn"><i class="fa-solid fa-house"></i></a>
  </div>
  <div class="project-description">
    <p><span>H</span>aunted Tours is a project that takes Airbnb as an inspiration and gives it an horror twist. Houses and apartments are replaced with horror tours that can be booked and/or hosted. </p>
  </div>
  <div class= "project-content">
    <div class="step">
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-home.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>U</span>sers can easily view the available tours from the Homepage. </p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>U</span>sers can check tours pictues from the grave-shaped cards to choose one they're attracted to.</p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-all-tours.gif', alt: "project image" %>
      </div>
    </div>
    <div class="step reveal">
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-lightbox.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>L</span>ightboxes allow users to zoom on the pictures and give a better look at the locations.</p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>T</span>our pages display information about the host and the tour. Users can add comments and book a tour on the same page. </p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-book.gif', alt: "project image" %>
      </div>
    </div>
    <div class="step reveal">
      <div class="screenshot">
        <%= image_tag 'projects/haunted-tours/haunted-tours-my-tours.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>H</span>osts have access to an additional section where they can add new tours, edit the current one, accept or deny pending participants.</p>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "projects" %>
