<div class="container">
  <div class="title-btns">
    <h1 class="project-title">Hidden <span>Nerima</span> </h1>
    <%# <a href="/#portfolio" class="home-btn"><i class="fa-solid fa-house"></i></a> %>
  </div>
  <div class="project-description">
    <p>Tokyo is full of less touristy places people are not aware about. Therefore, the goal of the Hidden Nerima project is to give the spotlight to hidden gems found around the Nerima Ward. </p>
  </div>
  <div class= "project-content">
    <div class="step opposite">
      <div class="screenshot">
        <%= image_tag 'projects/hidden-nerima/hidden-nerima-home.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>T</span>he homepage presents a banner, a navbar, and a set of six cards representing some hidden gems.</p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>U</span>sers can hover the navbar to have access to more options. They can also select a category by clicking on the given options, or search for a keyword typing on the searchbar.</p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/hidden-nerima/hidden-nerima-options.gif', alt: "project image" %>
      </div>
    </div>
    <div class="step reveal opposite">
      <div class="screenshot">
        <%= image_tag 'projects/hidden-nerima/hidden-nerima-bookmark.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>C</span>arousels allow users to quickly check all the pictures for a given location. Check its location on the map, view the ratings, and save the location as a bookmark. </p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>U</span>sers can then scroll to the bottom of the page to read the available reviews and add their own.</p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/hidden-nerima/hidden-nerima-comments.gif', alt: "project image" %>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="project-links">
    <h3>Check the link below if you want to learn more about this project</h3>
    <a href="https://github.com/MosDeef/hidden-nerima" target= "_blank"><i class="fa-brands fa-github" style="color: var(--color-bg);"></i>
    </a>
  </div>
</div>
<div class="dark-mode" onclick="changeIcon();">
  <i class="fa-solid fa-moon" id="change-mode"></i>
</div>
<%= javascript_include_tag "site" %>
<%= javascript_include_tag "projects" %>
