<div class="container">
  <div class="title-btns">
    <h1 class="project-title">Koto<span>back</span></h1>
    <a href="/index.html" class="home-btn"><i class="fa-solid fa-house"></i></a>
  </div>
  <div class="project-description">
    <p><span>T</span>his application comes from the need to have a smooth reading experience. Reading a book in a foreign language can be frustrating if the reading experience gets often interrupted to check the meaning of uknown words. Thanks to Kotoback this will not be a problem anymore.
      Readers can upload an epub ebook and Kotoback will return a set of flashcards for each chapter. This allows people to study words in advance so that they don't have to interrupt their reading experience. </p>
  </div>
  <div class= "project-content">
    <div class="step">
      <div class="screenshot">
        <%= image_tag 'projects/kotoback/kotoback-home.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>U</span>sers can select whether they want a book to be translated from English to Japanese or from Japanese to English. Then upload an epub ebook. </p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>U</span>sers can then check the "My Books" section to check the books they previously uploaded, or decide to upload a new one.</p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/kotoback/kotoback-my-books.png', alt: "project image" %>
      </div>
    </div>
    <div class="step reveal">
      <div class="screenshot">
        <%= image_tag 'projects/kotoback/kotoback-flashcard.gif', alt: "project image" %>
      </div>
      <div class="explanation">
        <p><span>B</span>y choosing one of the uploaded books they have access to their flashcards decks divided per chapter. They can navigate through the chapters, flip each card to check the answer and choose whether they know or don't know the translation.</p>
      </div>
    </div>
    <div class="step reveal">
      <div class="explanation">
        <p><span>I</span>n this section users can check all the flashcards sorted by chapter. They sort the cards choosing to display the cards they know, the ones they don't know, or all of them.
          Users can also choose to delete or edit flashcards. </p>
      </div>
      <div class="screenshot">
        <%= image_tag 'projects/kotoback/kotoback-all-cards.gif', alt: "project image" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "projects" %>
